* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, main, footer, nav {
    padding: 15px;
}

header {
    background-color: rgb(43, 92, 226);
}

main {
    flex: 1;
    flex-direction: column;
}

footer {
    background-color: blue;
    color: white;
}