{% extends "web/base.html" %}
{% load static %}

{% block title %} FC-Alta Contrato {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/alta_contrato.css' %}"> {% endblock %}

{% block main %}  
    <h2>Alta de Nuevo Contrato:</h2>
    
    {% if user.is_authenticated %}
        <h2>Bienvenid@ {{ user.username }}</h2>
    {% endif %}
    <p>{{fecha_hora}}</p>
    <a href="{% url 'index' %}"> Volver </a>

    <form method="POST" action="{% url 'alta_contrato' %}">
        {% csrf_token %}
        {{ alta_contrato_form }}
        
       <input type="submit" 
        class="btn btn-primary"> 
       
    </form>

{% endblock %}