{% extends "web\base.html" %}
{% load static %}

{% block title %} FC-Alta Jugadores {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/alta_jugador.css' %}"> {% endblock %}

{% block main %}  
    <h2>Alta de Nuevo Jugador:</h2>
    <p>{{fecha_hora}}</p>


    <form method="POST" action="{% url 'alta_jugador' %}">
        {% csrf_token %}
        {{ alta_jugador_form }}
        
       <input type="submit" 
        class="btn btn-primary"> 
       
    </form>

    <a href="{% url 'index' %}"> Volver </a>

{% endblock %}