{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport content=width=device-width initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">

    {% block extra_css %} {% endblock %}
  
    <style>
        .errorlist {
            color: red;
            font-weight: bold;
        }
        .error {
            color: red;
            font-weight: bold;
        }
    </style>


</head>

<body>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.nombre.errors }}
        {{ form.nombre }}
        {{ form.apellido.errors }}
        {{ form.apellido }}
        {{ form.dni.errors }}
        {{ form.dni }}
        <!-- Acá Agregar los demás campos de la misma manera -->
        <button type="submit">Enviar</button>
    </form>


    <header>
    {% comment %} <h1 class="centered">Bienvenidos a FutbolConnect</h1>
    <h2 class="centered">Aplicación de contacto entre Representantes y Jugadores</h2> {% endcomment %}
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'listado_jugadores' %}">Listado_jugadores</a></li>
            <li><a href="{% url 'alta_jugador' %}">Alta_jugadores</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {%endif%}> {{message}}</li>
        {% endfor %}
    </ul>
{% endif %}

    </header>
    <h1 class="centered">Bienvenidos a FutbolConnect</h1>
    <h2 class="centered">Aplicación de contacto entre Representantes y Jugadores</h2>

    <main class="centered">
    
    {% block main %} 
    {% endblock %}
    </main> 

    <footer class="centered">
        <p>Grupo 12 - Todos los derechos reservados</p>
        <div class="social-links">
            <a href="https://www.facebook.com"><img src="{% static 'web/images/face.png' %}" alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'web/images/insta.png' %}" alt="Instagram"></a>
            <a href="https://www.whatsapp.com"><img src="{% static 'web/images/whatsapp.png' %}" alt="WhatsApp"></a>
        </div>
    </footer>
</body>

</html>


