{% extends "web/base.html" %}
{% load static %}

{% block title %} FC-Contacto {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/contacto.css' %}">{% endblock %}

{% block main %}  
    <h2>Contacto</h2>
    <p>{{fecha_hora}}</p>
    <a href="{% url 'index' %}"> Volver </a>

    <form action= "{% url 'contacto' %}" method="POST">
        {% csrf_token %}
        {{envio_contacto_form}} 
        <input type='submit' value="contactar">  
    </form>
{% endblock %}
