{% extends "web/base.html" %}
{% load static %}

{% block title %} FC-Firma de Contratos {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/firma_contrato.css' %}"> {% endblock %}

{% block main %}  
    <h2>Firma de Nuevo Contrato:</h2>
    
    {% if user.is_authenticated %}
        <h3>Bienvenid@ {{ user.username }}</h3>
    {% endif %}
    <p>{{fecha_hora}}</p>
    <a href="{% url 'index' %}"> Volver </a>

    <form method="POST" action="{% url 'firma_contrato' %}">
        {% csrf_token %}
     <div class="container">
        {{ firma_contrato_form }}
        
        <button type="submit" 
        class="btn btn-primary"> Guardar </button>
     </div>  
    </form>

{% endblock %}