{% extends "web/base.html" %}
{% load static %}

{% block title %} FC-Listado de Representantes {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/listado_representantes.css' %}">{% endblock %}

{% block main %}  

{% if user.is_authenticated %}
<h3>Usuario: {{ user.username }}</h3>
{% endif %}

<h1>Listado de Representantes</h1>
<p>{{fecha_hora}}</p>

<a href="{% url 'index' %}">volver</a>
   
<table class="table">
    <thead class="thead-ligth">
        <tr>            
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">CUIT</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Activo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
        
        </tr>
    </thead>
        
    <body>
    {% for representantes in representantes %}
        <tr>
            <td scope="row">{{ representantes.id }} </td>
            <td>{{ representantes.nombre }}</td>
            <td>{{ representantes.apellido }}</td>
            <td>{{ representantes.dni }}</td>
            <td>{{ representantes.cuit }}</td>
            <td>{{ representantes.direccion }}</td>
            <td>{{ representantes.telefono }}</td>
            <td>{{ representantes.mail }}</td>
            <td>{{ representantes.activo }}</td>
            <td><a class="btn btn-info" href="{ url '' }">Editar</a></td>
            <td><a class="btn btn-danger" href="#">Eliminar</a></td>
        </tr>
    {% endfor %}    
</body> 
</table>


{% endblock %}