{% extends "web/base.html" %}
{% load static %}

{% block title %} FC-Listado de Contratos Firmados {% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'web/styles/listado_contratos_firmados.css' %}">{% endblock %}

{% block main %}  
    
{% if user.is_authenticated %}
    <h3>Usuario: {{ user.username }}</h3>
{% endif %}
    <h1>Listado de Contratos Firmados</h1>
    <p>{{fecha_hora}}</p>
   
        <a href="{% url 'index' %}">volver</a>

<table class="table">
    <thead class="thead-ligth">
        <tr>
            <th scope="col">Representante</th>
            <th scope="col">Jugador</th>
            <th scope="col">Tipo de Contrato</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha Fin</th>
         <!--   <th scope="col">Categoría</th>
            <th scope="col">Posición</th>
            <th scope="col">País</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Activo</th> -->
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
        </tr>
    </thead>
       
    <body>
    {% for contratos in contratos %}
        <tr>
            <td scope="row">{{ contratos.TipoContratos.representante.nombre_completo }} </td>
            <td>{{ contratos.jugador.nombre_completo }}</td>
            <td>{{ contratos.TipoContratos.tipo_contrato }}</td>
            <td>{{ contratos.TipoContratos.fecha_inicio }}</td>
            <td>{{ contratos.TipoContratos.fecha_fin }}</td>
           <!-- <td>{{ jugadores.fecha_nacimiento }}</td>
            <td>{{ jugadores.categoria }}</td>
            <td>{{ jugadores.posicion }}</td>
            <td>{{ jugadores.pais }}</td>
            <td>{{ jugadores.direccion }}</td>
            <td>{{ jugadores.telefono }}</td>
            <td>{{ jugadores.mail }}</td>
            <td>{{ jugadores.activo }}</td> -->
                    <td><a class="btn btn-info" href="#">Editar</a></td>
                    <td><a class="btn btn-danger" href="#">Eliminar</a></td>
                </tr>
            {% endfor %}    
            </body> 
        </table>
      
{% endblock %}
